{% extends 'base.twig' %}
{% block main %}
<div class="row">
     <div class="col s2">
       <!-- Grey navigation panel -->
       <div class="card-panel hoverable hide-on-small-only" >
         <img src="{{asset('soni.jpg')}}" alt class="circle center-align" class="center-align" width="150px"><br>
         <span class="title"><!--{{user.username}}--></span><br>
         </div>
     </div>

     <div class="col s10">
       <!-- Teal page content  -->
       <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3" ><a class="active"  href="#test1">Eliminar Usuarios</a></li>
        <li class="tab col s3 "><a  href="#test2">Eliminar Empleado</a></li>
        <li class="tab col s3" > <a  href="#test3" >Aceptacion de Solicitudes</a></li>
        <li class="tab col s3" > <a href="#test4" >Registrar Admin</a></li>
  </li>
      </ul>
    </div>
    <div id="test1" class="col s12"></div>
    <div id="test2" class="col s12"></div>
    <div id="test3" class="col s12"></div>
    <div id="test4" class="col s12"></div>
  </div>
     </div>

   </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
      $(document).ready(function(){
        $.get("{{urlFor('delete-user')}}", function(data){
          $('#test1').html(data);
        });
        $.get("{{urlFor('delete-empleado')}}", function(data){
          $('#test2').html(data);
        });
        $.get("{{urlFor('load-validar')}}", function(data){
          $('#test3').html(data);
        });
        $.get("{{urlFor('load-registrar-admin')}}", function(data){
          $('#test4').html(data);
        });
      });
    </script>
{% endblock %}
