{% block main %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div class="divider col 12" ></div>
	  <div class="section">
	    	<br>
			<h5>Información</h5>
			<br>
	  </div>
  <div class="row">
    {% for us in user %}
    <div class="input-field col s6">
      <input disabled="" value="{{us.nombre}} {{us.apellido}}" id="user-name" type="text" class="validate">
      <label class="active" for="user-name">Nombre</label>
    </div>
    <div class="input-field col s6">
      <input disabled="" value="{{us.email}}" id="email" type="text" class="validate">
      <label class="active" for="email">Correo electrónico</label>
    </div>
    <div class="input-field col s6">
      <input disabled="" value="{{us.tel}}" id="phone-numer" type="text" class="validate">
      <label class="active" for="phone-numer">Teléfono</label>
    </div>
    <div class="input-field col s6">
      <input disabled="" value="ejemplo" id="location" type="text" class="validate">
      <label class="active" for="location">Tu ubicación</label>
    </div>
     {% endfor %}
  </div>
{% endblock %}

        