{% block main %}
  <div class="divider col 12" ></div>
	  <div class="section">
	    	<br>
			<h5>Caracteristicas del paquete</h5>
			<br>
	  </div>
	  <div class="row">
	  	<div class="s12"></div>
        <div class="col s3">
        <label>Peso aproximado</label>
          <select class="browser-default" name="capacidad">
            <option value="1">-1 kg</option>
            <option value="2">+1 kg</option>
            <option value="3">+10 kg</option>
        </select>
        </div>
        <div class="col s3">
        <label>Fragilidad</label>
          <select class="browser-default" name="capacidad">
            <option value="1">alta</option>
            <option value="2">baja</option>
            <option value="3">nula</option>
        </select>
        </div>
        </div>
      <div class="row">
        <div class="col s6">
        <label>Tamaño</label>
          <select class="browser-default" name="capacidad">
            <option value="1">Pequeño</option>
            <option value="2">Medio</option>
            <option value="3">Grande</option>
        </select>
        </div>
      </div>
      <div class="col s6 offset-s6">
      	<a class="waves-effect waves-light btn" onclick="init()">Obtener mi ubicación</a>
      </div>
		<div class="s6 offset-s6" id="map" style="width: 500px; height: 500px; margin: 20px;"></div>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPDRHGQNECOOY_im_rOyYTQpInWT4qBm0"></script>
		<script>
			//mostrar elementos de un objeto 
			/*function mostrar_objeto(obj){
				for (var prop in obj) {
					document.write(prop+": "+ obj[prop] + "<br>");
				}
			}*/

			//funcion que solicita la ubicacion al usuario
			function init(){
				//buscar el div en donde estará el mapa
				var output = document.getElementById('map');
				
				function localizar(resp){
					var lat = resp.coords.latitude;
					var lon = resp.coords.longitude;

					var gLatLong = new google.maps.LatLng(lat,lon);

					//objeto configuracion mapa
					var objConf = {
						zoom: 15,
						center: gLatLong
					}
					//objeto configuracion del indicador (marker)

					var gMapa = new google.maps.Map(output,objConf);
					var gMarker = new google.maps.Marker({
						position: gLatLong,
						map: gMapa,
						draggable: true,
						title: "Mi ubicacion"
					});

					var gCoder = new google.maps.Geocoder();
					var objInfo = {
						address: 'Tecnologico Ciudad Valles'
					}

					function fnCoder(datos){
						var coordenadas = datos[0].geometry.location; //Longitud y Latitud
						var gMarker2 = new google.maps.Marker({
							map: gMapa,
							position: coordenadas,
							title: "Nuevo Marker",
							draggable: true
						});
					}

					gCoder.geocode(objInfo, fnCoder);

				}
				function error(){
					output.innerHTML = "<p>No se pudo obtener la ubicacion</p>";
				}

				navigator.geolocation.getCurrentPosition(localizar,error);

				/*var objConfDR ={
					map: gMapa
				
				var objConfDS = {
					origin: gLatLong,
					destination: objInfo.address,
					travelMode: google.maps.TravelMode.DRIVING
				}*/

				var ds = new google.maps.DirectionsService(); //obtener coordenadas 
				var dr = new google.maps.DirectionsRenderer({
					map: gMapa
				}); //traducir coordenadas

				ds.route({
					origin: gLatLong,
					destination: objInfo.address,
					travelMode: google.maps.TravelMode.DRIVING
				},fnRutear)

				function fnRutear(resultados, status){
					if (status == 'OK') {
						dr.setDirections(resultados);
					} else {
						alert('Error'+status);
					}
				}
			}
		</script>
{% endblock %}