{% extends 'cabezeras.twig' %}
{% block content %}
<nav class="nav">
    <div class="blue lighten-1 nav-wrapper">
      <a href="#" class="button-collapse"><i data-activates="mobile" class="fa fa-bars"></i></a>
      {% if app.session.user ==  empty %}
      <a href="{{urlFor('home')}}" class="brand-logo"><img width="80px" src="{{asset('logo.png')}}"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a id="entrar-button" href="{{urlFor('load-login')}}">Entrar</a></li>
        <li><a id="registrar-button" href="{{urlFor('load-registro')}}">Registrar</a></li>
      </ul>
      <ul class="side-nav" id="mobile">
        <a href="{{urlFor('load-home')}}" class="brand-logo"><img width="80px" src="{{asset('logo.png')}}"></a>
        <li><a href="{{urlFor('home')}}"><i class="fa fa-home">inicio</i></a></li>
        <li><a id="entrar-button" href="{{urlFor('load-login')}}"><i class="fa fa-sign-in">Entrar</i></a></li>
        <li><a id="registrar-button" href="{{urlFor('load-registro')}}"><i class="fa fa-pencil-square-o">Registrar</i></a></li>
      </ul>
      {% else %}
      <a href="{{urlFor('load-user')}}" class="brand-logo"><img width="80px" src="{{asset('logo.png')}}"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="{{urlFor('load-user')}}" data-activates="dropdown1">{{app.session.user}}</a></li>
      </ul>
      <ul class="side-nav" id="mobile">
        <li><a href="{{urlFor('home')}}"><i class="fa fa-home">inicio</i></a></li>
        {#<li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{app.session.user}}</a></li>#}
      </ul>
      {% endif %}

    </div>
  </nav>
  <main>
<ul id="dropdown1" class="dropdown-content">
  <li><a href=""><i class="fa fa-cog" aria-hidden="true">Opciones</i></a></li>
  <li><a href="{{urlFor('logout')}}"><i class="fa fa-sign-out" aria-hidden="true">Salir</i></a></li>
</ul>
  {% block main %}
  {% endblock %}
  </main>
    <footer class="page-footer cyan" >
      <div class="container">
        © 2017 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">Mothy.inc</a>
      </div>
    </footer>
		<style type="text/css">
			body {
			    display: flex;
			    min-height: 100vh;
			    flex-direction: column;
		  	}

		  	main {
		    	flex: 1 0 auto;
		  	}

        /*
        body{
          background-color: #c5cae9;
        }
        */
		</style>
    <script type="text/javascript">
    $(document).ready(function(){
      $('.dropdown-button').dropdown();
      $('.fa-bars').sideNav();
    });
    </script>
{% endblock %}
{% block js %}
{% endblock %}
