 <!DOCTYPE html>
  <html>
    <head>
      <link rel="shortcut icon" href="{{asset('logo.png')}}">
      <link type="text/css" rel="stylesheet" href="{{asset('materialize.css')}}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{asset('font-awesome.css')}}"  media="screen,projection"/>
      <link type="text/css" href="{{asset('icon.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
      <script type="text/javascript" src="{{asset('jquery-3.js')}}"></script>
      <script type="text/javascript" src="{{asset('materialize.js')}}"></script>
    {% block content %}
    {% endblock %}

    {% block css %}
    {% endblock %}
    
    {% block js %}
    {% endblock %}
    </body>
  </html>
