{% extends 'base.twig' %}
{% block main %}
	<div id="integrantes" class="modal bottom-sheet"></div>
	<div id="info" class="modal"></div>
	<div class="row">
		<div class="parallax-container col s12" id="parallax-logo">
			{#
			<h1 style="color: #fb8c00" class="slogan center-align">Paq' no cargues el paquete</h1><br>
			<h1 style="color: black" class="center-align">Mas cosas chulas y rebonitas</h1>
			#}
			<div class="parallax">
				<img src="{{asset('Imagen1.png')}}">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="section">
				<h1 id="cm" class="center-align">¡Ya no te canses más!</h1>
				<p id="mcm" class="center-align">Invierte tu tiempo en lo que deseas, nosotros guardamos, enviamos o hacemos tus mandados por ti</p>
			</div>
				 {#
			<div class="section">
				 <div class="teal card-panel">
	      			<span >Empieza a ordenar ahora</span>
	      			<a class="waves-effect wavpoes-orange btn-flat" id="flat-button">Button</a>
	    		</div>
			</div>
				 #}
		</div>
		<div class="divider"></div>
		<div class="section">
			<h4 class="center-align">¿Quiénes somos?</h4>
			<div class="row">
	          <div class="card medium col s12 m3 offset-m1">
	            <div class="card-image">
	              <img src="{{asset('mision.png')}}">
	              {#<span class="card-title">MISIÓN</span>#}
	            </div>
	            <div class="card-content">
	              <h4>MISIÓN</h4>
	            </div>
	            <div class="card-action">
	              <a class="btninfo" href="#!" data-value="mision">Leer más <i class="fa fa-book"></i></a>
	            </div>
	          </div>
	        <div class="card medium col s12 m3 offset-m1">
	            <div class="card-image">
	              <img src="{{asset('vision.png')}}">
	              {#<span class="card-title">VISION</span>#}
	            </div>
	            <div class="card-content">
	            	<h4>VISIÓN</h4>
	            </div>
	            <div class="card-action">
	              <a class="btninfo" href="#!" data-value="vision">Leer más <i class="fa fa-book"></i></a>
	            </div>
	          </div>
	        	<div class="card medium col s12 m3 offset-m1">
	            <div class="card-image">
	              <img id="img-valores" src="{{asset('valores.png')}}">
	              {#<span class="card-title">VALORES</span>#}
	            </div>
	            <div class="card-content">
	              <h4>VALORES</h4>
	            </div>
	            <div class="card-action">
	              <a class="btninfo" href="#!" data-value="valores">Leer más <i class="fa fa-book"></i></a>
	            </div>
	          </div>
	        </div>
		</div>
		<div class="divider"></div>
		<div class="section">
			<h1 class="center-align">Nuestros Servicios</h1>
			<div class="row">
				<div class="col s6">
					<div class="center">
						<i class="fa fa-shopping-bag fa-5x" aria-hidden="true"></i>
						<p class="caption">Paquetería</p>
						<p class="light">Proporcionamos una herramienta a las personas que realizan compras en la zona centro, resguardando bolsas, paquetes y mandando en general.</p>
					</div>
				</div>
				<div class="col s6">
					<div class="center">
						<i class="fa fa-motorcycle fa-5x" aria-hidden="true"></i>
						<p class="caption">Envíos</p>
						<p class="light">Contamos con servipaquers que se trasladan por toda la ciudad para hacer llegar tus paquetes al lugar donde tu lo necesites.</p>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="parallax-container">
		<div class="parallax">
	    	<img src="{{asset('bolsitas.png')}}">
		</div>
	</div>
<div class="container">
	<div class="section">
		<div class="content">
		<h1>Contáctanos</h1>
		<form>
			<div class="row">
				<div class="input-field col s12 m5">
					<input type="text" name="nombre_anonimo">
					<label>Nombre completo</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m5">
					<input type="email" name="email_anonimo">
					<label>Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m5">
					<input type="text" name="ciudad_anonimo">
					<label>Ciudad</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m5">
					<textarea name="comentario_anonimo" class="materialize-textarea"></textarea>
	          		<label>Comentario</label>
				</div>
			</div>
			<div class="row">
				<div class="col offset-s2">
					<a class="waves-effect waves-light btn modal-trigger">Conócenos</a>
					<button class="btn waves-effect waves-light" type="submit" name="action">Comentar
			    		<i class="fa fa-comment"></i>
			  		</button>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>
<!--div class="row">
    <div class="col s10 offset-s3">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">Video 1</a></li>
        <li class="tab col s3"><a href="#test2">Video 2</a></li>
      </ul>
    </div>
  	<div class="col s6 offset-s3">
  		<div class="video-container" id="test1">
        	<iframe frameborder="yes" src="https://wideo.co/embed/21009301505682243963?width=560&height=315&repeat=false"></iframe>
   		</div>
  	</div>
  	<div class="col s6 offset-s3">
  		<div class="video-container" id="test2">
        	<iframe frameborder="no" src="https://wideo.co/embed/21009301505584612398?width=560&height=315&repeat=false&autoplay=false"></iframe>
   		</div>
  	</div>
  </div-->

{% endblock %}
{% block js %}
    <script type="text/javascript">
    $(document).ready(function(){
	$('#integrantes').modal();
    $('#info').modal();
    	$('.parallax').parallax();
    	$('.modal-trigger').click(function(){
    		$.get("{{urlFor('load-modal-integrantes')}}", function(data){
    			$('#integrantes').html(data);
    			$('#integrantes').modal('open');
    		});
    	});
    	$('.btninfo').click(function(){
    		var val = $(this).data('value');
    		$.get("{{urlFor('load-modal-info')}}",{val:val}, function(data){
    			$('#info').html(data);
    			$('#info').modal('open');
    		});
    	});
    });


     $('ul.tabs').tabs();
    </script>
{% endblock %}
{% block css %}
    <style type="text/css">
    #flat-button{
    	margin-left: 40em;
    }
    /*
    */
    #parallax-logo{
    	height: 500px;
    }
    #cm{
    	color: red;
    }
    #img-valores{
    	height: 215px;
    }
    body {
 		overflow-x:hidden;
		height:100%;
	}
    </style>
{% endblock %}
