{% extends 'base.twig' %}
{% block main %}
<div class="row">
     <div class="col s2">
        <br>
        <br>
          <!-- Grey navigation panel -->
        <div class="hoverable hide-on-small-only s12 center-align" >
            <img src="{{asset('chilaquil.png')}}" alt class="circle center-align" class="center-align" width="150px"><br>
            <span class="title"><!--{{user.username}}--></span><br>
        </div>
     </div>

    <div class="col s10">
       <!-- Teal page content  -->
        <div class="row">
        <div class="col s12">
        <ul class="tabs">
        <li class="tab col s2" ><a href="#test0">Perfil</a></li>
        <li class="tab col s2" ><a href="#test1">Enviar paquete</a></li>
        <li class="tab col s2 "><a href="#test2">Mis envíos</a></li>
        <li class="tab col s2" ><a href="#test4">Rastreo</a></li>
        <li class="tab col s2" ><a href="#test3">Facturación</a></li>
        </li>
      </ul>
    </div>

    <div id="test0" class="col s15"></div>
    <div id="test1" class="col s15"></div>
    <div id="test2" class="col s15"></div>
    <div id="test3" class="col s15"></div>
    <div id="test4" class="col s15"></div>
  </div>
     </div>

   </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
      $(document).ready(function(){
        $.get("{{urlFor('load-profile-user')}}", function(data){
          $('#test0').html(data);
        });
        $.get("{{urlFor('load-send-package')}}", function(data){
          $('#test1').html(data);
        });
        $.get("{{urlFor('load-send-history')}}", function(data){
          $('#test2').html(data);
        });
        $.get("{{urlFor('load-package-tracking')}}", function(data){
          $('#test3').html(data);
        });
        $.get("{{urlFor('load-billing')}}", function(data){
          $('#test4').html(data);
        });
      });
    </script>
{% endblock %}