{% extends 'base.twig' %}
{% block main %}
<div class="content">
	<form action="{{ urlFor('login')}}" method="post">
		<div class="row">
			<div class="input-field col s4 offset-s4">
				<input  id="username" name="username" type="text" class="validate" value="{{log.username}}">
				<label>Usuario</label>
			</div>
			<div class="input-field col s4 offset-s4">
				<input  id="password" type="password" name="pass" class="validate" value="{{log.pass}}">
				<label>contraseña</label>
			</div>
			<div class="col offset-s5">
				<a href="{{urlFor('home')}}" class="waves-effect waves-light blue btn">Cancelar</a>
				<button id="submit" type="submit" class="green btn waves-effect waves-light">Entrar</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
{% block css %}
 <style type="text/css">
 form{
 	margin-top: 10em;
 }
 </style>
{% endblock %}
{% block js %}
<script type="text/javascript">
{% if app.flash.mensaje is not empty %}
	 Materialize.toast('{{app.flash.mensaje}}', 2000, 'red rounded');
{% endif %}
$(document).ready(function(){
	$('#submit').click(function(){
		var user = $('#username').val();
		var pass = $('#password').val();
	});
});
</script>
{% endblock %}