{% extends 'base.twig' %}
{% block main %}
  <div class="row">
    <form class="col s12" action="{{ urlFor('registrar') }}" method="post">
      <div class="col s10">
        <div class="row">
          <div class="input-field col s6">
            <input name="user" type="text" class="validate">
            <label for="last_name">Nombre de Usuario</label>
          </div>
          <div class="input-field col s6">
            <input name="pass" type="password" class="validate">
            <label for="password">Contraseña</label>
          </div>
          <div class="input-field col s6">
            <input name="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s6">
            <input name="tel" type="text" class="validate">
            <label for="No. Telefono">No. Telefono</label>
          </div>
          </div>
        </div>
        <div class="row">
       <button class="btn waves-effect waves-light blue" type="submit"  >Enviar</button>
     </div>
    </form>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
  </script>
{% endblock %}
