{% block main %}
<br>	
	<div class="row">
    <form class="col s12" action="{{ urlFor('registro-admin')}}" method="post">
      <div class="col s12">
        <div class="input-field col s4">
          <input id="nombre" type="text" class="validate">
          <label >Nombre</label>
        </div>
        <div class="input-field col s4">
          <input type="text" class="validate">
          <label>Apellido paterno</label>
        </div>
        <div class="input-field col s4">
          <input type="text" class="validate">
          <label>Apellido materno</label>
        </div>
      </div>
      <div class="col s12">
        <div class="input-field col s8">
          <input type="email" class="validate">
          <label>Correo</label>
        </div>
          <div class="input-field col s4">
            <input id="input_text" type="text" data-length="10">
            <label>Telefono</label>
        </div>
      </div>
      <div class="col s12">
        <div class="input-field col s4">
          <input type="text" class="validate">
          <label>Calle</label>
        </div>
        <div class="input-field col s4">
          <input type="text" class="validate">
          <label>Colonia</label>
        </div>
      </div>
      <div class="col s12">
        <div class="input-field col s4">
          <input type="text" class="validate">
          <label>Ciudad</label>
        </div>
        <div class="col s4"><label>Fecha de contratación</label><input type="date"></div>
    </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Enviar</button>
    </form>
  </div>
{% endblock %}

{% block js %}

{% endblock %}