{% block css %}
    <link href="{{asset('icon.css')}}" rel="stylesheet">
{% endblock %}
{% block main %}
  <div class="row">
      {% for cho in chofer %}
      <div class="col s8">
  <ul class="collection" >
    <li class="collection-item avatar">
      
      <img src="{{asset('soni.jpg')}}" alt="" class="circle">
      <span class="title">{{cho.nombre}}&nbsp{{cho.apellidos}}</span>
      <p>Tipo: {{cho.tipo}} Placas: {{cho.placas}}<br>
         Capacidad:{{cho.capacidad}}
      </p>
      <!--a href="#!" class="secondary-content"><i class="material-icons">add_circle</i></a-->

    <div class="fixed-action-btn horizontal" style="position: absolute; display: inline-block; right: 24px;">
    <a class="btn-floating btn-small grey darken-4 " class="waves-effect waves-teal btn-flat">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><div data-id="{{cho.id}}" id="aceptar">
      <a data-position="bottom" data-delay="50" data-tooltip="Denegar" class=" tooltipped btn-floating red negar"><i class="material-icons">close</i></a>
      </div>
    </li>

      <li><div data-id="{{cho.id}}" id="negar">
      <a class="btn-floating green darken-1 aceptar tooltipped" data-position="bottom" data-delay="50" data-tooltip="Aceptar"><i class="material-icons">check</i></a>
      </div>
    </li>

    </ul>
  </div>
    </li>
  </ul>
      </div>
  {% endfor %}
  </div>

        
{% endblock %}
{% block js %}
    <script type="text/javascript">
      $(document).ready(function(){
         $('.tooltipped').tooltip({delay: 50});});
      $( document ).ready(function() {
    $('.aceptar').click(function(e){
        e.preventDefault(e);
        var id = $('#aceptar').data('id');
        window.location = "{{urlFor('aceptar-solicitud')}}"+id;
      });
    $('.negar').click(function(e){
        e.preventDefault(e);
        var id = $('#negar').data('id');
        window.location = "{{urlFor('negar-solicitud')}}"+id;
      });
  });
    </script>
{% endblock %}