<div class="modal-content">
	<h1>vision</h1>
	<p>Nos posicionaremos en el gusto de nuestros clientes brindándoles la confianza y atención que se merecen, asegurándonos de anteponer sus necesidades y preferencias para alcanzar nuestros objetivos.</p>
</div>