{% extends 'cabezeras.twig' %}
{% block content %}
<div class="modal-content">
		<h2>Conocenos <i class="fa fa-user"></i></h2>
	<ul class="collection">
		<li class="collection-item avatar">
			<img src="{{asset('mago.jpg')}}" alt class="circle" width="40px">
			<span class="title">Margarita Ramos</span>
			{#
			<p><i class="fa fa-facebook-official"></i>/fb.com
			<br>secon text</p>
			#}
		</li>
		<li class="collection-item avatar">
			<img src="{{asset('sofia.jpeg')}}" alt class="circle" width="40px">
			<span class="title">Sofía Mendoza</span>
			{#
			<p><i class="fa fa-facebook-official"></i>/fb.com
			<br>secon text</p>
			#}
		</li>
		<li class="collection-item avatar">
			<img src="{{asset('vane.jpeg')}}" alt class="circle" width="40px">
			<span class="title">Vanessa Lara</span>
			{#
			<p><i class="fa fa-facebook-official"></i>/fb.com
			<br>secon text</p>
			#}
		</li>
		<li class="collection-item avatar">
			<img src="{{asset('pany.jpeg')}}" alt class="circle" width="40px">
			<span class="title">Stephanie Velázquez</span>
			{#
			<p><i class="fa fa-facebook-official"></i>/fb.com
			<br>secon text</p>
			#}
		</li>
		<li class="collection-item avatar">
			<img src="{{asset('vero.jpeg')}}" alt class="circle" width="40px">
			<span class="title">Verónica López</span>
			{#
			<p><i class="fa fa-facebook-official"></i>/fb.com
			<br>secon text</p>
			#}
		</li>
		<li class="collection-item avatar">
			<img src="{{asset('luisa.jpeg')}}" alt class="circle" width="40px">
			<span class="title">Luisa Rodea</span>
			{#
			<p><i class="fa fa-facebook-official"></i>/fb.com
			<br>secon text</p>
			#}
		</li>
		<li class="collection-item avatar">
			<img src="{{asset('soni.jpg')}}" alt class="circle" width="40px">
			<span class="title">SONI</span>
			{#
			<p><i class="fa fa-facebook-official"></i>/fb.com
			<br>secon text</p>
			#}
		</li>
	</ul>
</div>
{% endblock %}
