<div class="modal-content">
	<h1>Misión</h1>
	<p>Somos pioneros en la región, ofrecemos a la población un sistema de entrega innovador y revolucionario, proporcionamos además el aliado de compras a amas de casa. Nuestros servicios representan libertad de tiempo, comodidad y seguridad a tu alcance.</p>
</div>